In [59]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
from sqlalchemy import create_engine
import re
import requests as req
import json
import datetime
import time

In [ ]:
KEY = 'b50bc5-5af08a'

BCN = 'BCN'

status = 'landed'

url = f"http://aviation-edge.com/v2/public/timetable?key={KEY}&iataCode={BCN}&type=departure&status={status}"

## Get flight information request

In [74]:
def get_data(airport,status = 'landed'):
    
    KEY = 'b50bc5-5af08a'
    url = f"http://aviation-edge.com/v2/public/timetable?key={KEY}&iataCode={airport}&type=departure&status={status}"    
    response = req.get(url)
    print(response)
    print((datetime.datetime.now()))
    json_file = response.json()
    df_f = pd.DataFrame(json_file)
    return df_f

In [70]:
df_barcelona = get_data(airport='BCN')

<Response [200]>
2019-07-24 22:12:54.427990

In [75]:
df_madrid = get_data(airport='MAD')

<Response [200]>
2019-07-24 22:15:30.622847

In [50]:
def clean_data(data_df):
    data_df["airln_name"] = data_df["airline"].apply(lambda x: x['name'])
    data_df["airln_code"] = data_df["airline"].apply(lambda x: x['iataCode'])
    data_df['arri_delay'] = data_df['arrival'].apply(lambda x: x['delay'])
    data_df['arri_airpt'] = data_df['arrival'].apply(lambda x: x['iataCode'])
    data_df['schd_arri_time'] = data_df['arrival'].apply(lambda x: x['scheduledTime'])
    data_df['codeshared'] = data_df['codeshared'].apply(lambda x: x['airline']['name'] if x else None)
    data_df['depart_delay'] = data_df['departure'].apply(lambda x: x['delay'])
    data_df['depart_airpt'] = data_df['departure'].apply(lambda x: x['iataCode'])
    data_df['schd_depart_time'] = data_df['departure'].apply(lambda x: x['scheduledTime'])
    data_df['depart_gate'] = data_df['departure'].apply(lambda x: x['gate'])
    data_df['depart_terminal'] = data_df['departure'].apply(lambda x: x['terminal'])
    data_df['icaonumb'] = data_df['flight'].apply(lambda x: x['icaoNumber'])
    data_df['flight'] = data_df['flight'].apply(lambda x: x['number'])
    data_df = data_df.drop(['airline','arrival','departure'], axis =1)
    
    return data_df

In [71]:
BNC_0 = clean_data(data_df=df_barcelona)

In [72]:
BNC_0.head()

,codeshared,flight,status,type,airln_name,airln_code,arri_delay,arri_airpt,schd_arri_time,depart_delay,depart_airpt,schd_depart_time,depart_gate,depart_terminal,icaonumb
0,None,2015,landed,departure,Air Algerie,AH,None,ALG,2019-07-24T20:25:00.000,None,BCN,2019-07-24T20:05:00.000,D16,1,DAH2015
1,Vueling,5162,landed,departure,Iberia,IB,None,PMI,2019-07-24T21:10:00.000,3,BCN,2019-07-24T20:15:00.000,B40,1,IBE5162
2,Vueling,3670,landed,departure,Qatar Airways,QR,None,PMI,2019-07-24T21:10:00.000,3,BCN,2019-07-24T20:15:00.000,B40,1,QTR3670
3,None,3918,landed,departure,Vueling,VY,None,PMI,2019-07-24T21:10:00.000,3,BCN,2019-07-24T20:15:00.000,B40,1,VLG3918
4,Vueling,5063,landed,departure,Iberia,IB,19,MAH,2019-07-24T20:55:00.000,22,BCN,2019-07-24T20:00:00.000,B68,1,IBE5063

In [78]:
BNC_0.to_csv('BNC_0.csv')

In [76]:
MAD_0 = clean_data(data_df=df_madrid)

In [77]:
MAD_0.head()

,codeshared,flight,status,type,airln_name,airln_code,arri_delay,arri_airpt,schd_arri_time,depart_delay,depart_airpt,schd_depart_time,depart_gate,depart_terminal,icaonumb
0,Vueling,5825,landed,departure,Iberia,IB,None,IBZ,2019-07-24T20:50:00.000,12,MAD,2019-07-24T19:30:00.000,J42,4,IBE5825
1,None,3425,landed,departure,Vueling,VY,None,IBZ,2019-07-24T20:50:00.000,12,MAD,2019-07-24T19:30:00.000,J42,4,VLG3425
2,Iberia,6957,landed,departure,JAL,JL,None,LIS,2019-07-24T20:00:00.000,9,MAD,2019-07-24T19:35:00.000,K69,4,JAL6957
3,Iberia,7149,landed,departure,LATAM Airlines,LA,None,LIS,2019-07-24T20:00:00.000,9,MAD,2019-07-24T19:35:00.000,K69,4,LAN7149
4,Iberia,6875,landed,departure,Qatar Airways,QR,None,LIS,2019-07-24T20:00:00.000,9,MAD,2019-07-24T19:35:00.000,K69,4,QTR6875

In [79]:
MAD_0.to_csv('MAD_0.csv')

## Get airports by country

In [16]:
def get_data_airpts(country):
    
    KEY = 'b50bc5-5af08a'
    url_airpt = f'https://aviation-edge.com/v2/public/airportDatabase?key={KEY}&codeIso2Country={country}'
    
    response = req.get(url_airpt)
    print(response)
    print((datetime.datetime.now()))
    json_file = response.json()
    df = pd.DataFrame(json_file)
    return df

In [17]:
spain_airpts = get_data_airpts('ES')

<Response [200]>
2019-07-24 19:58:50.047909

In [19]:
spain_airpts.head(2)

,GMT,airportId,codeIataAirport,codeIataCity,codeIcaoAirport,codeIso2Country,geonameId,latitudeAirport,longitudeAirport,nameAirport,nameCountry,phone,timezone
0,1,27,ABC,ABC,LEAB,ES,6299323,38.948334,-1.863333,Los Llanos,Spain,,Europe/Madrid
1,0,55,ACE,ACE,GCRR,ES,6297189,28.950668,-13.609059,Lanzarote,Spain,902 404 704,Atlantic/Canary

In [25]:
def get_iata_codes(df_airpts):
    airpts_lst = df_airpts['codeIataAirport'].to_list()
    return airpts_lst

In [26]:
spain_airpts_lst = get_iata_codes(df_airpts=spain_airpts)

In [28]:
print(spain_airpts_lst)

['ABC', 'ACE', 'AEI', 'AGP', 'ALC', 'BCN', 'BIO', 'BJZ', 'CDT', 'CDZ', 'EAS', 'EEL', 'EEM', 'EER', 'EEU', 'FES', 'FGR', 'FUE', 'GEN', 'GGA', 'GMZ', 'GRO', 'GRX', 'HEV', 'HSK', 'IBZ', 'ILD', 'JCU', 'LCG', 'LEI', 'LEN', 'LEU', 'LPA', 'MAD', 'MAH', 'MJV', 'MLN', 'NDO', 'ODB', 'OVD', 'OZI', 'OZL', 'OZP', 'OZU', 'PMI', 'PNA', 'PXS', 'QGN', 'QLQ', 'REU', 'RGS', 'RJL', 'RMU', 'ROZ', 'RRA', 'SCQ', 'SDR', 'SLM', 'SPC', 'SPO', 'SVQ', 'TFN', 'TFS', 'TOJ', 'UER', 'UTL', 'VDE', 'VGO', 'VIT', 'VLC', 'VLL', 'XIV', 'XJB', 'XJI', 'XJJ', 'XJN', 'XJO', 'XJR', 'XJU', 'XOC', 'XOJ', 'XOU', 'XQA', 'XRY', 'XTI', 'XTJ', 'XUA', 'XUF', 'XUT', 'XZZ', 'YJB', 'YJC', 'YJD', 'YJE', 'YJG', 'YJH', 'YJI', 'YJL', 'YJM', 'YJR', 'YJV', 'YJW', 'ZAZ', 'ZRC']

In [30]:
france_airpts = get_data_airpts('FR')

<Response [200]>
2019-07-24 20:11:16.143197

In [31]:
france_airpts_lst = get_iata_codes(df_airpts=france_airpts)

In [33]:
germany_airpts = get_data_airpts('DE')

<Response [200]>
2019-07-24 20:14:16.862687

In [34]:
germany_airpts_lst = get_iata_codes(df_airpts=germany_airpts)

In [37]:
italy_airpts = get_data_airpts('IT')

<Response [200]>
2019-07-24 20:15:25.444477

In [38]:
italy_airpts_lst = get_iata_codes(df_airpts=italy_airpts)

In [39]:
print(italy_airpts_lst)

['AHO', 'ALL', 'AOI', 'AOT', 'AVB', 'BAU', 'BDS', 'BGY', 'BLQ', 'BLX', 'BRI', 'BRZ', 'BZO', 'BZQ', 'CAG', 'CIA', 'CIY', 'CRV', 'CTA', 'CTJ', 'CUF', 'DCI', 'EBA', 'FCO', 'FLR', 'FNU', 'FOG', 'FOI', 'FRL', 'GBN', 'GOA', 'GRS', 'IBT', 'IMR', 'INP', 'IPR', 'IRR', 'IRT', 'ISH', 'ISR', 'ITT', 'LCC', 'LCV', 'LCZ', 'LIN', 'LMP', 'LTZ', 'MXP', 'NAP', 'NSY', 'OLB', 'PEG', 'PEJ', 'PMF', 'PMO', 'PNL', 'PRJ', 'PSA', 'PSR', 'QSR', 'RAN', 'RCC', 'REG', 'RMI', 'RRO', 'SAY', 'SUF', 'TAR', 'TFC', 'TPS', 'TPY', 'TQR', 'TRN', 'TRS', 'TSF', 'TTB', 'UDN', 'VBS', 'VCE', 'VIC', 'VIF', 'VNZ', 'VRN', 'XIK', 'XIX', 'XNC', 'XRJ', 'XVQ', 'XVY', 'ZAK', 'ZBN', 'ZIE', 'ZIP', 'ZIQ', 'ZJE', 'ZJJ', 'ZJX', 'ZJY', 'ZMF', 'ZMI', 'ZMJ', 'ZMO', 'ZMR', 'ZMS', 'ZRO', 'ZRR', 'ZTC']

In [40]:
countries_airpts_lst = spain_airpts_lst + france_airpts_lst + germany_airpts_lst + italy_airpts_lst

## Wednesday, July 24

In [82]:
dict_airpt_df = {}

for aipt_code in countries_airpts_lst:
    
    df_airpt = get_data(airport = f"'{aipt_code}'")
    df_airpt_clean = clean_data(df_airpt)
    dict_airpt_df[aipt_code] = df_airpt_clean
    time.sleep(10)

<Response [200]>
2019-07-24 22:19:18.932714

ValueError: If using all scalar values, you must pass an index