In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
barca = pd.read_csv('BNC_0.csv')

In [3]:
madrid = pd.read_csv('MAD_0.csv')

In [5]:
data = pd.concat([barca, madrid], ignore_index=True)

In [11]:
data = data.drop('Unnamed: 0', axis =1)

In [13]:
data.head()

,codeshared,flight,status,type,airln_name,airln_code,arri_delay,arri_airpt,schd_arri_time,depart_delay,depart_airpt,schd_depart_time,depart_gate,depart_terminal,icaonumb
0,NaN,2015,landed,departure,Air Algerie,AH,NaN,ALG,2019-07-24T20:25:00.000,NaN,BCN,2019-07-24T20:05:00.000,D16,1,DAH2015
1,Vueling,5162,landed,departure,Iberia,IB,NaN,PMI,2019-07-24T21:10:00.000,3.0,BCN,2019-07-24T20:15:00.000,B40,1,IBE5162
2,Vueling,3670,landed,departure,Qatar Airways,QR,NaN,PMI,2019-07-24T21:10:00.000,3.0,BCN,2019-07-24T20:15:00.000,B40,1,QTR3670
3,NaN,3918,landed,departure,Vueling,VY,NaN,PMI,2019-07-24T21:10:00.000,3.0,BCN,2019-07-24T20:15:00.000,B40,1,VLG3918
4,Vueling,5063,landed,departure,Iberia,IB,19.0,MAH,2019-07-24T20:55:00.000,22.0,BCN,2019-07-24T20:00:00.000,B68,1,IBE5063

### Modifiying data types

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 15 columns):
codeshared          532 non-null object
flight              769 non-null int64
status              769 non-null object
type                769 non-null object
airln_name          769 non-null object
airln_code          769 non-null object
arri_delay          455 non-null float64
arri_airpt          769 non-null object
schd_arri_time      769 non-null object
depart_delay        600 non-null float64
depart_airpt        769 non-null object
schd_depart_time    769 non-null object
depart_gate         641 non-null object
depart_terminal     769 non-null object
icaonumb            767 non-null object
dtypes: float64(2), int64(1), object(12)
memory usage: 90.2+ KB

In [16]:
data = data.astype({'schd_arri_time': 'datetime64[ns]','schd_depart_time':'datetime64[ns]'})

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 15 columns):
codeshared          532 non-null object
flight              769 non-null int64
status              769 non-null object
type                769 non-null object
airln_name          769 non-null object
airln_code          769 non-null object
arri_delay          455 non-null float64
arri_airpt          769 non-null object
schd_arri_time      769 non-null datetime64[ns]
depart_delay        600 non-null float64
depart_airpt        769 non-null object
schd_depart_time    769 non-null datetime64[ns]
depart_gate         641 non-null object
depart_terminal     769 non-null object
icaonumb            767 non-null object
dtypes: datetime64[ns](2), float64(2), int64(1), object(10)
memory usage: 90.2+ KB

In [21]:
cols = data.columns.tolist()
print(cols)

['codeshared', 'flight', 'status', 'type', 'airln_name', 'airln_code', 'arri_delay', 'arri_airpt', 'schd_arri_time', 'depart_delay', 'depart_airpt', 'schd_depart_time', 'depart_gate', 'depart_terminal', 'icaonumb']

In [23]:
## Changing the columns order

data = data[['airln_name', 'airln_code','type', 'codeshared', 'status', 'icaonumb', 'flight','depart_terminal',\
      'depart_gate', 'depart_airpt' ,'schd_depart_time','depart_delay','arri_airpt','schd_arri_time',\
      'arri_delay']]

In [25]:
data.head(2)

,airln_name,airln_code,type,codeshared,status,icaonumb,flight,depart_terminal,depart_gate,depart_airpt,schd_depart_time,depart_delay,arri_airpt,schd_arri_time,arri_delay
0,Air Algerie,AH,departure,NaN,landed,DAH2015,2015,1,D16,BCN,2019-07-24 20:05:00,NaN,ALG,2019-07-24 20:25:00,NaN
1,Iberia,IB,departure,Vueling,landed,IBE5162,5162,1,B40,BCN,2019-07-24 20:15:00,3.0,PMI,2019-07-24 21:10:00,NaN

### Dealing with missing values

In [27]:
data['depart_delay'] = data['depart_delay'].fillna(0)

In [28]:
data['arri_delay'] = data['arri_delay'].fillna(0)

In [29]:
data.to_csv('final_data_t.csv')