In [7]:
import pandas as pd
import numpy as np
import os

In [21]:
data = pd.read_csv('unready_data.csv')

In [22]:
data.head()

,Unnamed: 0,Unnamed: 0.1,codeshared,flight,status,type,airln_name,airln_code,arri_delay,arri_airpt,schd_arri_time,depart_delay,depart_airpt,schd_depart_time,depart_gate,depart_terminal,icaonumb
0,0,0,NaN,8594,landed,departure,Air Nostrum,YW,NaN,LEI,2019-07-25T10:20:00.000,1.0,MAD,2019-07-25T09:10:00.000,K96,4,ANE8594
1,1,1,Air Nostrum,8553,landed,departure,American Airlines,AA,24.0,MLN,2019-07-25T12:50:00.000,36.0,MAD,2019-07-25T11:00:00.000,K84,4,AAL8553
2,2,2,Iberia Express,8781,landed,departure,American Airlines,AA,5.0,DUB,2019-07-25T10:40:00.000,2.0,MAD,2019-07-25T09:10:00.000,NaN,4,AAL8781
3,3,3,Iberia Express,3792,landed,departure,Iberia,IB,5.0,DUB,2019-07-25T10:40:00.000,2.0,MAD,2019-07-25T09:10:00.000,NaN,4,IBE3792
4,4,4,Air Nostrum,6956,landed,departure,Qatar Airways,QR,24.0,MLN,2019-07-25T12:50:00.000,36.0,MAD,2019-07-25T11:00:00.000,K84,4,QTR6956

In [23]:
data = data.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis =1)

In [24]:
data.head()

,codeshared,flight,status,type,airln_name,airln_code,arri_delay,arri_airpt,schd_arri_time,depart_delay,depart_airpt,schd_depart_time,depart_gate,depart_terminal,icaonumb
0,NaN,8594,landed,departure,Air Nostrum,YW,NaN,LEI,2019-07-25T10:20:00.000,1.0,MAD,2019-07-25T09:10:00.000,K96,4,ANE8594
1,Air Nostrum,8553,landed,departure,American Airlines,AA,24.0,MLN,2019-07-25T12:50:00.000,36.0,MAD,2019-07-25T11:00:00.000,K84,4,AAL8553
2,Iberia Express,8781,landed,departure,American Airlines,AA,5.0,DUB,2019-07-25T10:40:00.000,2.0,MAD,2019-07-25T09:10:00.000,NaN,4,AAL8781
3,Iberia Express,3792,landed,departure,Iberia,IB,5.0,DUB,2019-07-25T10:40:00.000,2.0,MAD,2019-07-25T09:10:00.000,NaN,4,IBE3792
4,Air Nostrum,6956,landed,departure,Qatar Airways,QR,24.0,MLN,2019-07-25T12:50:00.000,36.0,MAD,2019-07-25T11:00:00.000,K84,4,QTR6956

### Modifiying data types

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7164 entries, 0 to 7163
Data columns (total 15 columns):
codeshared          4602 non-null object
flight              7164 non-null object
status              7164 non-null object
type                7164 non-null object
airln_name          7164 non-null object
airln_code          7164 non-null object
arri_delay          3660 non-null float64
arri_airpt          7164 non-null object
schd_arri_time      7163 non-null object
depart_delay        4667 non-null float64
depart_airpt        7164 non-null object
schd_depart_time    7163 non-null object
depart_gate         5794 non-null object
depart_terminal     5483 non-null object
icaonumb            7115 non-null object
dtypes: float64(2), object(13)
memory usage: 839.6+ KB

In [26]:
data = data.astype({'schd_arri_time': 'datetime64[ns]','schd_depart_time':'datetime64[ns]'})

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7164 entries, 0 to 7163
Data columns (total 15 columns):
codeshared          4602 non-null object
flight              7164 non-null object
status              7164 non-null object
type                7164 non-null object
airln_name          7164 non-null object
airln_code          7164 non-null object
arri_delay          3660 non-null float64
arri_airpt          7164 non-null object
schd_arri_time      7163 non-null datetime64[ns]
depart_delay        4667 non-null float64
depart_airpt        7164 non-null object
schd_depart_time    7163 non-null datetime64[ns]
depart_gate         5794 non-null object
depart_terminal     5483 non-null object
icaonumb            7115 non-null object
dtypes: datetime64[ns](2), float64(2), object(11)
memory usage: 839.6+ KB

In [28]:
cols = data.columns.tolist()
print(cols)

['codeshared', 'flight', 'status', 'type', 'airln_name', 'airln_code', 'arri_delay', 'arri_airpt', 'schd_arri_time', 'depart_delay', 'depart_airpt', 'schd_depart_time', 'depart_gate', 'depart_terminal', 'icaonumb']

In [29]:
## Changing the columns order

data = data[['airln_name', 'airln_code','type', 'codeshared', 'status', 'icaonumb', 'flight','depart_terminal',\
      'depart_gate', 'depart_airpt' ,'schd_depart_time','depart_delay','arri_airpt','schd_arri_time',\
      'arri_delay']]

In [30]:
data.head(2)

,airln_name,airln_code,type,codeshared,status,icaonumb,flight,depart_terminal,depart_gate,depart_airpt,schd_depart_time,depart_delay,arri_airpt,schd_arri_time,arri_delay
0,Air Nostrum,YW,departure,NaN,landed,ANE8594,8594,4,K96,MAD,2019-07-25 09:10:00,1.0,LEI,2019-07-25 10:20:00,NaN
1,American Airlines,AA,departure,Air Nostrum,landed,AAL8553,8553,4,K84,MAD,2019-07-25 11:00:00,36.0,MLN,2019-07-25 12:50:00,24.0

### Dealing with missing values

In [31]:
data['depart_delay'] = data['depart_delay'].fillna(0)

In [32]:
data['arri_delay'] = data['arri_delay'].fillna(0)

In [33]:
data.to_csv('final_data_t.csv')